<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImportarExcelSQLServer.Properties.Settings.cn" connectionString="Data Source=FSSAPBO;Initial Catalog=MINDU_INTERMEDIA;Persist Security Info=True;User ID=sa;Password=Sqladmin281" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
